* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card-container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

#perfume {
  width: 250px;
}

#perfume2 {
  display: none;
  width: 250px;
}

#card {
  background: white;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#header {
  font-size: 14px;
  align-self: flex-start;
  margin: 0px 25px;
  color: hsl(212, 21%, 14%);
  opacity: 70%;
  margin-top: 10px;
  letter-spacing: 3px;
}

#title {
  font-size: 28px;
  margin: 0px 25px;
}

#info {
  font-size: 14px;
  margin: 0 25px;
  color: hsl(228, 12%, 48%);
}

#prices {
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 5px;
}

#current-price {
  color: hsl(158, 36%, 37%);
  font-weight: bold;
  font-size: 30px;
}

#old-price {
  text-decoration: line-through;
  font-size: 16px;
  color: hsl(228, 12%, 48%);
}

#shopping {
  background-color: hsl(158, 36%, 37%);
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 5px;
}

button {
  border: 0px;
  color: white;
}

.primary-font {
  font-family: monserrat;
  font-weight: 500;
}

.secondary-font {
  font-family: Fraunces;
  font-weight: 700;
}

@media (max-width: 500px) {
  #card-container {
    flex-direction: column;
  }
  #perfume {
    display: none;
  }

  #perfume2 {
    display: block;
  }

  #shopping {
    margin-bottom: 0px;
  }
}
